body {
    background: black;
    color: saddlebrown;
    font-weight: normal;
    font-family: "Comic Sans MS", Bradley Hand, cursive;
    font-size: 18px;
    line-height: 1.5;
    text-align: left;
    margin: auto;
}

.block1 {
    width: 700px;
    max-width: 100%;
    margin-left: 485px;
    margin-right: auto;
    background: white;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.block2 {
    width: 300px;
    max-width: 100%;
    margin-left: 175px;
    margin-right: auto;
    background: silver;
    padding: 10px;
    float: left;
}

.block3 {
    background: silver;
}
